

/* ==========================================================================
   Linux Táchira custom styles
   ========================================================================== */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron p.mailist-info {
    font-size: 14px;
}
















